html{
    font-family: 'Times New Roman', Times, serif;
    font-size:18px;
}
body{
    width:100%;
    height:100%;
    background-color: black;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}
 
#aa{
    text-decoration:none;
    color:inherit;
} 

nav ul{
   background-color: grey;
   overflow:hidden;
   color:purple;
   padding:0;
   text-align:center;
   margin:0; 
}
nav ul li{
    list-style: none;
    display:inline-block;
    padding:20px;
    box-sizing:border-box;
}
nav ul li:hover{
    background-color:blue;
}
nav > ul> li >a{
    padding:30px;
    font-family:arial;
    color:white;
    text-decoration:none;
    text-transform: uppercase;
    font-size:20px;
}
nav>ul>li>ul{
    display:inline-block;
    position:absolute;
}
@media screen and (min-width: 480px) {
    body {
        background-color: burlywood;
        color: black;
    }
}
@media screen and (min-width: 480px) {
    body {
        background-color: burlywood;
        color: black;
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color: blueviolet;
  }
}

.landing-text{
     position:absolute;
     top:20%;
     width:100%;
     text-align: center;
     margin-right: 300%;
}
.landing-text>h1{
    font-size:50px;
     font-family:sans-serif;
     font-weight: 700px;
     color:white;

}
.about{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:70%;
}
.container{
    display:flex;
    align-items:center;
    justify-content:center;
}
.about-heading>h3{
    text-align: center;
    line-height: 0px;
    font-size:60px;
    font-weight:bold;
    margin-bottom:10%;
    color:purple;
    font-family: Arial, Helvetica, sans-serif;

}
.about-details >p{
    font-size:20px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10%;;
    color:white;
    padding-bottom: 10%;
}
.container1{
    display:flex;
    justify-content: space-between;
}
.container1 div{
    border:1px solid;
    padding:5px;
}
.skills{
    flex:1;
    order:2;
    height:20%;
    background-color: grey;
}
.content{
    flex:1
    order:1;
    height:20%;
    font-size:25px;
    background-color:grey;
}
.content2{
    flex:1;
    order:3
    height:25%;
    font-size:25px;
    background-color:grey;
}
#one{
    margin-top: 50px;
    margin-left:35%;
    margin-bottom:10px; 
}
.heading{
    margin-top:10%;
    margin-left:35%;
    font-size:50px;
    color:purple;
}
 h2{
    color:white;
    font-size:40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
}
.head{
    color:purple;
    font-size:50px;
    margin-top:10%;
}